body{
    color: #312268;
    background-color: #E5D0FF;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 4px dashed #A689E1;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(166, 137, 225, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.character-card{
    display: flex;
    width: 700px;
    overflow: hidden;
    border: 3px solid #A689E1;
    border-radius: 8px;
    background-color: #2b2b2b;
    margin: 15px;
}
.character-card img{
    width: 45%;
    height: auto;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease-in-out;
}
.info{
    width: 55%;
    padding: 20px;
    text-align: left;
}
.character-card:hover img{
    transform: scale(1.05);
}
.name{
    font-size: 20px;
    color: #A689E1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed #A689E1;
    border-radius: 6px;

}
.profile{
    font-size: 14px;
    color: #bbb;
    line-height: 1.6;
    min-height: 100px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed #A689E1;
}
.detail ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.detail li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dashed #444;
}

.detail_title{
    color: #A689E1;
    font-weight: bold;
}

.detail_text{
    color: #fff;
}
.bottom-image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 700px;
    margin-top: 8px;

    border: 3px dashed #A689E1;
    border-radius: 10px;

    padding: 15px;
    background-color: #2b2b2b;
}
.page-title{
    width: 700px;
    margin-bottom: 8px;
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #2b2b2b;
    border: 3px dashed #A689E1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(166, 137, 225, 0.4);
    letter-spacing: 2px;
    text-shadow: 0 0 8px #A689E1;
}

.bottom-image img{
    width: 30%;
    height: 150px;
    object-fit: cover;

    border-radius: 6px;
    transition: transform 0.3s ease;
}

.bottom-image img:hover{
    transform: scale(1.08);
}